@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Nunito:wght@200&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Nunito:wght@200&family=Raleway:wght@200&family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(248 148 148);
    font-family: BIZ UDPGothic;
    height: 100vh;
    width: 338px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    margin: 25px;
    padding: 35px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    width: 100vw;
}

.container {
    display: flex;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    margin: 144px auto;
    height: 200px;
    width: 1000px
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 85px;
    font-family: Raleway;
}

.name {
    font-size: 50px;
    font-weight: 100;
    font-family: Smooch;
}

.about {
    font-size: 35px;
}

.moreabout {
    font-size: 20px;
    font-family: Raleway;
    margin: 24px 0;
}

.btn {
    margin-top: 24px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(133, 130, 238);
    color: white;
}

.btn:hover {
    background-color: white;
    color: rgb(133, 130, 238);
}

.devPic img {
    position: relative;
    top: 0;
    height: 20vh;
}

.contactForm {
    position: absolute;
    padding: 0 34px;
    padding-top: 144px;
}

.contactForm h1 {
    text-align: center;
}

.contactForm form div {
    padding: 5px 0;
}

#emailHelp {
    font-size: 8px;
    color: blueviolet;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}

#clientEmail {
    border-radius: 12px;
    padding: 5px;
}

#clientphone {
    border-radius: 12px;
    padding: 5px;
}

.infodevPic {
    display: flex;
    position: absolute;
    top: 44vh;
    right: 26%;
    margin: auto;
    height: 16vh;
    width: 22vw;
}

.resumecontainer .resume {
    border-radius: 8px;
    padding: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.resumecontainer .resume:hover {
    cursor: pointer;
    background-color: white;
    color: blue;
    transition: 0.4s ease-out;
}

.infocontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    padding: 20px 20px;
}

.resumecontainer {
    border: 1px solid red;
    box-shadow: 2px 2px 10px;
    position: fixed;
    top: 25%;
    left: 40%;
    text-shadow: 1px 1px #ff0000;
    font-family: Smooch;
    background-image: radial-gradient(circle, aqua, rgb(158, 239, 158), rgb(242, 108, 108));
    transform: rotate(-5deg);
    transform: rotateZ(10deg);
}

.resumecontainer .hand {
    position: relative;
    top: 30%;
    left: 25%;
}

.icons {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.cross {
    margin-left: 237px;
}

.sidebarGo {
    transform: translate(-435px, 10px);
    position: absolute;
}

.Hi:hover{
    animation: animate 3s linear infinite;
}
.Hi img{
    position: relative;
    width: 104px;
    background-size: cover;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    10% {
        filter: hue-rotate(180deg);
        -webkit-transform: rotate(10deg);
    }

    20% {
        filter: hue-rotate(360deg);
        -webkit-transform: rotate(20deg);
    }

    30% {
        filter: hue-rotate(0deg);
        -webkit-transform: rotate(10deg);
    }

    40% {
        filter: hue-rotate(180deg);
        -webkit-transform: rotate(5deg);
    }

    50% {
        filter: hue-rotate(360deg);
        -webkit-transform: rotate(0deg);
    }

    60% {
        filter: hue-rotate(0deg);
        -webkit-transform: rotate(-5deg);
    }

    70% {
        filter: hue-rotate(0deg);
        -webkit-transform: rotate(-10deg);
    }

    80% {
        filter: hue-rotate(180deg);
        -webkit-transform: rotate(-20deg);
    }

    90% {
        filter: hue-rotate(360deg);
        -webkit-transform: rotate(-10deg);
    }

    100% {
        filter: hue-rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@media (max-width: 930px) {
    .sidebar {
        transform: translate(-435px, 10px);
        position: absolute;
    }

}

@media (max-width: 1198px) {
    .devPic img {
        top: 0px;
        right: 99px;
    }
}
.funcontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;

}
.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: rgb(212, 91, 91);
}
.quote
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.author 
{

    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.next
{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(228, 192, 192), #ca9914a8);
}

.musicbody{
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(247,247, 247) 23.8%, rgb(252, 221, 221) 92%);
    display: flex;
    flex-direction: column;
}
.img-container img{
    height: 28vh;
    width: 15vw;
    background-size: cover;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    bottom: 0;
    left: 0;
}
.img-container::after{
    content: '';
    background-color: black;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
/* .Hi::hover{
    animation: animate 1.5s linear infinite;
} */
.music-container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(252 169 169 / 60%);
    display: flex;
    width: 334px;
    height: 110px;
    padding: 11px;
    position: relative;
    z-index: 10;
}
.img-container{
    position: relative;

}